*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}


/* Background Glow */

.bg-left{
position:fixed;
left:-300px;
top:-150px;
width:700px;
height:700px;
background:#0D5C8F;
filter:blur(180px);
opacity:.75;
z-index:-2;

animation:glowBlue 8s ease-in-out infinite;
}
.bg-right{
position:fixed;
right:-300px;
top:-150px;
width:700px;
height:700px;
background:#FF4103;
filter:blur(180px);
opacity:.55;
z-index:-2;

animation:glowOrange 10s ease-in-out infinite;
}

/* Header */

header{
position:absolute;
top:0;
left:0;
width:100%;
padding:25px 80px;

display:flex;
justify-content:space-between;
align-items:center;
z-index:100;
}

.logo{
font-size:32px;
font-weight:800;
letter-spacing:4px;
font-style:italic;
color:white;
}

nav{
display:flex;
gap:30px;
}

nav a{
color:white;
text-decoration:none;
opacity:.8;
transition:.3s;
}

nav a:hover{
opacity:1;
color:#FF4103;
}

.early-btn{
padding:12px 28px;
border:none;
border-radius:40px;
background:#FF4103;
color:white;
font-weight:600;
cursor:pointer;

box-shadow:
0 0 15px #FF4103;
}

/* Hero */

.hero{
position:relative;
min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding-top:100px;
overflow:hidden;
}

/* Content */

.content{
max-width:750px;
text-align:center;
z-index:20;
}

.content h1{
font-size:5rem;
font-style:italic;
font-weight:800;
letter-spacing:6px;
color:#ffffff;

text-shadow:
0 0 20px rgba(255,255,255,.3);
}

.tagline{
margin-top:20px;
font-size:1rem;
letter-spacing:5px;
color:#ddd;
}

.content h2{
margin-top:40px;
font-size:4rem;
line-height:1.1;
font-weight:700;
color:#ffffff;
}

.desc{
margin-top:25px;
font-size:1.1rem;
color:#c6d4ff;
line-height:1.8;
}

.content h3{
margin-top:30px;
font-size:1.8rem;
color:#FF4103;
letter-spacing:4px;
}

/* Buttons */

.buttons{
margin-top:35px;
margin-bottom:20px;

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
bottom:80px;
}

.notify{
padding:18px 45px;
text-decoration:none;
border-radius:50px;
font-weight:700;
color:white;
bottom:60px;

background:
linear-gradient(
45deg,
#ff4103,
#ff9d40
);

box-shadow:
0 0 20px #FF4103,
0 0 60px rgba(255,65,3,.4);

transition:.3s;
}

.notify:hover{
transform:translateY(-5px);
}

.contact{
padding:18px 45px;
text-decoration:none;
border-radius:50px;
font-weight:700;
color:white;

border:2px solid #3FA9F5;

box-shadow:
0 0 20px rgba(63,169,245,.5);

transition:.3s;
}

.contact:hover{
background:rgba(63,169,245,.15);
transform:translateY(-5px);
}

/* Scooter */

.scooter{
position:absolute;
left:140px;
bottom:40px;
width:320px;
z-index:70;


filter:
drop-shadow(0 0 25px #3FA9F5)
drop-shadow(0 0 80px #3FA9F5);
}

/* Bike */

.bike{
position:absolute;
right:120px;
bottom:50px;
width:340px;
z-index:30;


filter:
drop-shadow(0 0 25px #FF4103)
drop-shadow(0 0 80px #FF4103);
}
@keyframes float{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(-15px);
}

}

/* Neon Ring */

.platform-blue{
position:absolute;
left:120px;
bottom:30px;

width:380px;
height:110px;

border-radius:50%;

border:8px solid #3FA9F5;

box-shadow:
0 0 20px #3FA9F5,
0 0 50px #3FA9F5,
0 0 100px #3FA9F5;

z-index:1;
}

.platform-orange{
position:absolute;
right:120px;
bottom:30px;

width:380px;
height:110px;

border-radius:50%;

border:8px solid #FF4103;

box-shadow:
0 0 20px #FF4103,
0 0 50px #FF4103,
0 0 100px #FF4103;

z-index:1;
}

/* Features */

.features{
max-width:1300px;
margin:auto;
position:relative;
top:20px;

padding:50px 30px;

display:grid;
grid-template-columns:repeat(4,1fr);

gap:25px;
}

.feature{
background:
rgba(255,255,255,.04);

border:
1px solid rgba(255,255,255,.08);

border-radius:20px;

padding:30px;

text-align:center;

backdrop-filter:blur(10px);

transition:.4s;
}

.feature:hover{
transform:translateY(-8px);
border-color:#FF4103;
}

.icon{
font-size:40px;
margin-bottom:15px;
color:#FF4103;
}

.feature h4{
margin-bottom:10px;
color:#ffffff;
}

.feature p{
color:#d1d7e6;
line-height:1.6;
}

/* Footer */

footer{
padding:70px 20px;
text-align:center;
}

footer h2{
font-size:2rem;
color:#FF4103;
margin-bottom:20px;
}


.socials{
display:flex;
justify-content:center;
align-items:center;
gap:18px;
margin-top:20px;
}

.socials a{
width:55px;
height:55px;

display:flex;
align-items:center;
justify-content:center;

background:rgba(255,255,255,0.05);

border:1px solid rgba(255,255,255,0.1);

border-radius:50%;

transition:.3s;
}

.socials a:hover{
transform:translateY(-5px);
border-color:#FF4103;

box-shadow:
0 0 20px rgba(255,65,3,.5);
}

.socials img{
width:60px;
height:60px;
object-fit:contain;
}

/* ===== PREMIUM LIGHT BEAMS ===== */

.beam-left{
position:absolute;
left:-100px;
top:0;
width:400px;
height:100%;

background:
linear-gradient(
90deg,
rgba(63,169,245,.4),
transparent
);

filter:blur(90px);

animation:beamBlue 5s infinite;
}

.beam-right{
position:absolute;
right:-100px;
top:0;
width:400px;
height:100%;

background:
linear-gradient(
-90deg,
rgba(255,107,0,.4),
transparent
);

filter:blur(90px);

animation:beamOrange 5s infinite;
}

@keyframes beamBlue{
50%{
opacity:.5;
}
}

@keyframes beamOrange{
50%{
opacity:.5;
}
}




@keyframes ringBlue{
50%{
transform:scale(1.03);
}
}

@keyframes ringOrange{
50%{
transform:scale(1.03);
}
}

/* ===== PREMIUM LOGO ===== */

.logo span{
color:#FF4103;
}
.content h1 span{
color:#FF4103;
}
/* ===== SOCIAL ICONS ===== */

.socials a{
width:55px;
height:55px;

display:flex;
justify-content:center;
align-items:center;

border-radius:50%;

background:
rgba(255,255,255,.05);

border:
1px solid rgba(255,255,255,.08);

transition:.3s;
}

.socials a:hover{
transform:
translateY(-5px);

box-shadow:
0 0 20px rgba(255,107,0,.5);
}

.socials img{
width:26px;
height:26px;
object-fit:contain;
}

/* ===== FEATURE CARDS ===== */

.feature{
background:
rgba(255,255,255,.03);

backdrop-filter:
blur(12px);

transition:.4s;
}

.feature:hover{
transform:
translateY(-10px);

box-shadow:
0 0 30px rgba(255,107,0,.25);
}

/* ===== BUTTON ANIMATION ===== */

.notify,
.contact{
transition:.3s;
}

.notify:hover,
.contact:hover{
transform:
translateY(-4px)
scale(1.03);
}


/* LEFT BLUE GLOW */

.beam-left{
position:absolute;
left:0;
top:0;
width:400px;
height:100%;

background:
linear-gradient(
90deg,
rgba(63,169,245,.35),
transparent
);

filter:blur(80px);
z-index:0;
}

/* RIGHT ORANGE GLOW */

.beam-right{
position:absolute;
right:0;
top:0;
width:400px;
height:100%;

background:
linear-gradient(
-90deg,
rgba(255,107,0,.35),
transparent
);

filter:blur(80px);
z-index:0;
}

/* BLUE LIGHT BARS */

.line-blue{
position:absolute;

left:70px;
top:100px;

width:5px;
height:450px;

background:#3FA9F5;

box-shadow:
0 0 15px #3FA9F5,
0 0 40px #3FA9F5,
0 0 80px #3FA9F5;

transform:skew(-15deg);

z-index:1;
}

.line-blue.second{
left:140px;
height:380px;
opacity:.7;
}

/* ORANGE LIGHT BARS */

.line-orange{
position:absolute;

right:70px;
top:100px;

width:5px;
height:450px;

background:#FF4103;

box-shadow:
0 0 15px #FF4103,
0 0 40px #FF4103,
0 0 80px #FF4103;

transform:skew(15deg);

z-index:1;
}

.line-orange.second{
right:140px;
height:380px;
opacity:.7;
}

/* ANIMATION */

.line-blue,
.line-orange{
animation:pulseLight 3s ease-in-out infinite;
}

@keyframes pulseLight{

0%,100%{
opacity:.5;
}

50%{
opacity:1;
}

}



.pulse{
animation:ringPulse 1s ease;
}

@keyframes ringPulse{

0%{
transform:scale(1);
}

50%{
transform:scale(1.05);
}

100%{
transform:scale(1);
}

}

body{
background: linear-gradient(
120deg,
#001621,
#002238,
#00304a,
#001621,
#002238
);

background-size: 500% 500%;

animation: waterFlow 12s ease-in-out infinite;
}

@keyframes waterFlow{
0%{
background-position:0% 50%;
}
50%{
background-position:100% 50%;
}
100%{
background-position:0% 50%;
}
}

@keyframes float{
0%,100%{
transform:translateY(0);
}
50%{
transform:translateY(-12px);
}
}

@media (max-width:768px){

.line-blue,
.line-blue.second,
.line-orange,
.line-orange.second{
display:none;
}

.blob{
filter:blur(30px);
opacity:.5;
}

header{
    padding:15px 20px;
}

nav{
    display:none;
}

.logo{
    font-size:24px;
}

.early-btn{
    padding:10px 18px;
    font-size:12px;
}

.hero{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    min-height:auto;
    padding:120px 20px 50px;
}

.content h1{
    font-size:3rem;
}

.content h2{
    font-size:2.2rem;
}

.desc{
    font-size:15px;
    line-height:1.7;
}

.buttons{
    margin-top:30px;
    display:flex;
    gap:15px;
    justify-content:center;
    flex-wrap:wrap;
}

/* VEHICLE SECTION */

.scooter,
.bike{
    position:relative;
    width:180px;
    left:auto;
    right:auto;
    bottom:auto;
    margin-top:40px;
}

.platform-blue,
.platform-orange{
    position:relative;
    width:220px;
    height:70px;
    left:auto;
    right:auto;
    bottom:auto;
    margin-top:-40px;
}

/* scooter + ring */
.scooter{
    order:1;
    z-index:5;
}

.platform-blue{
    order:2;
    margin-bottom:30px;
}

/* bike + ring */
.bike{
    order:3;
    z-index:5;
}

.platform-orange{
    order:4;
}

.features{
    grid-template-columns:1fr;
}

}

@keyframes glowBlue{
0%,100%{
transform:translate(0,0);
}
50%{
transform:translate(180px,90px);
}
}

@keyframes glowOrange{
0%,100%{
transform:translate(0,0);
}
50%{
transform:translate(-180px,90px);
}
}
/* Mouse Reactive Background */

.bg-left,
.bg-right,
.beam-left,
.beam-right{
    transition: transform 0.8s ease-out;
    will-change: transform;
}
/* ===================================
   LIQUID MESH BACKGROUND
=================================== */

.liquid-mesh{
position:fixed;
inset:0;
overflow:hidden;
z-index:-10;
pointer-events:none;
}

.blob{
position:absolute;
border-radius:50%;
filter:blur(100px);
opacity:.9;
}

/* Blue Blob */

.blob1{
width:600px;
height:600px;

background:#000000;

top:-200px;
left:-150px;

}

/* Orange Blob */

.blob2{
width:300px;
height:300px;

background:#707070;

bottom:-250px;
right:-150px;


}

/* Deep Blue */

.blob3{
width:400px;
height:400px;

background:#000000;

top:30%;
left:45%;

}

/* Soft Orange */

.blob4{
width:500px;
height:500px;

background:#6e6e6e;

top:50%;
left:20%;

}

